# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/

# Tooling
.pytest_cache/
.ruff_cache/

# Build artifacts
*.egg-info/
dist/
build/

# Local temp files
*.log

# Temporary cloned Space repo
food_delivery/

.env